.al{
    overflow: auto;
    text-align: center;

}
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
a{
    color: gray;
}

#form {
    width: 30rem;
    justify-content: center;
    margin-left: 40rem;
}

/* Toggle Styles */

#viewport {
    padding-left: 14rem;
}

#content {
    width: 100%;
    position: relative;
    margin-right: 0;
}

/* Sidebar Styles */

#sidebar {
    z-index: 1000;
    position:absolute;
    left: 250px;
    width: 450px;
    height: 100vh;
    margin-left: -250px;
    overflow: auto;
    background: #f4f4f5;
}

#sidebar header {
    background-color: #dfe1e4;
    font-size: 20px;
    line-height: 52px;
    text-align: center;
}

#sidebar header a {
    color: #fff;
    display: block;
    text-decoration: none;
}

#sidebar header a:hover {
    color: #fff;
}

#sidebar .nav {}

#sidebar .nav a {
    background: none;
    border-bottom: 1px solid #455A64;
    color: #CFD8DC;
    font-size: 14px;
    padding: 16px 24px;
}

#sidebar .nav a:hover {
    background: none;
    color: #ECEFF1;
}

#sidebar .nav a i {
    margin-right: 16px;
}