<div class="al">
  <app-nav-bar *ngIf="router.url == '/dashboard'"></app-nav-bar>
  <div class="d-flex">
    <div id="viewport">
      <!-- Sidebar -->
      <div id="sidebar">
        <header>
          <a href="#">REAL TIME FLIGHTS</a>
        </header>
        <ul>
          <li class="m-5 text-uppercase">
            <a href="/login"> <i ></i> Login </a>
          </li>
          <li class="m-5 text-uppercase">
            <a href="https://openskynetwork.github.io/opensky-api/"> <i ></i> About </a>
          </li>
          <li class="m-5 text-uppercase">
            <a href="https://openskynetwork.github.io/opensky-api/"> <i ></i> Services </a>
          </li>
          <li class="m-5 text-uppercase">
            <a href="https://openskynetwork.github.io/opensky-api/"> <i ></i> Contact </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <div [ngClass]="{ 'main-dash': router.url == '/dashboard'}">
      <router-outlet></router-outlet>
      <app-login></app-login>

  </div>
</div> 
