<div class="body">
  <form class="form-group row" (submit)="onSubmit()" >
    <header class=""><h1>Sign Up</h1></header>
    <input type="text"  placeholder="Name" class="form-control m-4" />
    <input type="email"  placeholder="Email" class="form-control m-4" />
    <input type="password"  placeholder="Password" class="form-control m-4" />
   <button class="btn btn-outline-dark text-uppercase  "  cssClass='e-link'> <a href="/login" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-light"> Register</a></button>
  </form>
</div>